h1 {
    background: red;
}
.p1 {
    background: green;
}
.p2 {
    background: blue;
}
.p3 {
    background: yellow;
    text-align: center;
    font-style: oblique;
    text-shadow: 3px 3px 3px green;
}
